html, body{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #808080;
  max-width: 1150px;
  margin: auto;
}

header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left {
  display: flex;
  padding-left: 1.5rem;
  font-size: 2rem;
  align-items: center;
}

.left img{
  height: 2rem;
}
.left p {
  color: lightgrey;
  font-size: 1.5rem;
  line-height: 2rem;
}

.left b {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

header nav{
  padding-right: 1.5rem;
  line-height: 2rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}

span a{
  padding: 0rem .5rem;
  color: grey;
}

.mobilenav{
  display: none;
}

    /*mobile version*/

@media only screen and (max-width: 480px) {

  header nav,
  header b,
  header p{
    display: none;
  }

  .mobilenav{
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}


/*Jumbotron*/
.jumbotron {
  display: flex;
  align-items: center;
  background-color: #B8B8B8;
}

.jumbotron img {
  padding: 2rem 1.5rem;
  width: 60%;
  object-fit: contain;
}

.jumbotron-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #505050;
}

.jumbotron-right h1{
  font-weight: 750;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #505050;
}

button {
  background-color:	#484848;
  border-radius: 0.75rem;
  padding: 0.5rem;
  margin-left: 1.5rem;
  margin-right: 3rem;
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

button a{
  color: white;
}

@media only screen and (max-width: 480px) {
  .jumbotron{
    display: block;
  }

  .jumbotron img {
    width: 100%;
    padding: 0px;
  }
  .jumbotron-right {
    padding-left: 1rem;
    width: 100%;
  }

  .jumbotron-right h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .jumbotron h2{
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
  }

  button{
    background-color: grey;
    border-radius: 0;
    margin-top: 0px;
    margin-bottom: 2rem;
    width: 75%;
  }
}

/*articles*/
.information {
  display: flex;
  padding-top: 2rem;
  padding-left: 1.5rem;
  background-color: #F5F5F5;
}

.main img {
  padding-bottom: 2rem;
  width: 100%;
}

.main {
  width: 60%;
  padding-right: 1.5rem;
  border-right: 0.25px solid #C8C8C8;
}

.main h1{
  font-size: 1.5rem;
  line-height: 1rem;
}
.main p{
  font-size: 0.75rem;
  margin-bottom: 2rem;
  line-height: 1rem;
}

.rest {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.firstart,
.secondart,
.thirdart {
  display: flex;
  align-items: center;
  transition: background-color .5s
}

.firstart:hover,
.secondart:hover,
.thirdart:hover {
  background-color: #B8B8B8;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.75rem;
}

.firstart img,
.secondart img,
.thirdart img {
  height: auto;
  width: 35%;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #6698E2;
  font-weight: bold;
}

.text p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1rem;
}

.text h2{
  font-size: 1rem;
}

.mobile{
  display: none;
}

@media only screen and (max-width: 480px) {
  .information .main{
    display: none;
  }

  .rest{
    flex-direction: column;
    width: 100%;
    padding-right: 1rem;
  }

  .firstart,
  .secondart,
  .thirdart{
    flex-direction: column;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }

  .rest{
    padding-bottom: 2rem;
  }
  .rest img{
    width: 100%;
  }

  .text{
    padding-left: 1rem;
    align-self: flex-start;
  }

  .firstart:hover,
  .secondart:hover,
  .thirdart:hover
   {
    background-color: inherit;
  }
}

/*articles*/
.courses{
  background-color: #E8E8E8;
  padding-top: 2rem;
}

.courses h1{
  padding-bottom: 2rem;
  margin-bottom: 0rem;
  text-align: center;
}

.list{
  margin: 0rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list h2{
  transition: all .1s ease-in-out;
}

.list h2:hover {
  transform: scale(1.01);
}

.art1,
.art2,
.art3,
.art4,
.art5,
.art6 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 33%;
  margin-bottom: 2rem;
}

.art1 img,
.art2 img,
.art3 img,
.art4 img,
.art5 img,
.art6 img{
  height: auto;
  width: 100%;
}

.arttext {
  margin-left: 1rem;
  margin-top: 1rem;
}

.arttext a{
  color: #505050;
}

.arttext h3{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #505050;
}

.arttext p{
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .courses{
    background-color: #F5F5F5;
    border-top: 0.05px solid lightgrey;
  }
  .courses h1{
    padding-bottom: 1rem;
  }

  .list img{
    display: none;
  }

  .list h3,
  .list p{
    display: none;
  }

  .list{
    flex-direction: column;
    margin: 0rem 1rem;
  }


  .art1,
  .art2,
  .art3,
  .art4,
  .art5,
  .art6 {
    width: 95%;
    background-color: #E8E8E8;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
  }
}

/* Thesis part*/
.thesis{
  padding: 2rem 0rem;
}

.title{
  text-align: center;
}

.remaining{
  margin-left: 1.5rem;
  display: flex;
}

.main h2{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

video{
  width: 100%;
  border: 1px solid #C8C8C8;
}

@media only screen and (max-width: 480px) {
    .thesis {
      background-color: #F5F5F5;
      border-top: 0.05px solid lightgrey;
      padding: 0rem;
    }

    .thesis h1{
      padding-top: 2rem;
      margin-bottom: 1rem;
    }

    .thesis .rest{
      display: none;
    }

    .remaining .main h2,
    .remaining .main p{
      display: none;
    }

    .remaining .main{
      width: 100%;
      padding-bottom: 1.5rem;
    }
}


/*footer*/
footer{
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 1px solid #C8C8C8;
  font-size: 0.75rem;
}

.copy p{
  font-size: 0.75rem;
}

@media only screen and (max-width: 480px) {
  footer{
    padding: 1rem 0rem 1rem 1rem;
  }

  .terms{
    display: none;
  }
}
