html, body{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #808080;
}

header{
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left {
  display: flex;
  padding-left: 1.5rem;
  font-size: 2rem;
  align-items: center;

}

.left img{
  height: 2rem;
}
.left p {
  color: lightgrey;
  font-size: 1.5rem;
  line-height: 2rem;
}

.left b {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
}

header nav{
  padding-right: 1.5rem;
  line-height: 2rem;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}

span a{
  padding: 0rem .5rem;
  color: grey;
}
    /*mobile version*/


/*Jumbotron*/
.jumbotron {
  display: flex;
  align-items: center;
  background-color: #B8B8B8;
}

.jumbotron img {
  padding: 2rem 1.5rem;
  width: 60%;
  object-fit: contain;
}

.jumbotron-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #505050;
}

.jumbotron-right h1{
  font-weight: 750;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #505050;
}

button {
  background-color:	#484848;
  border: none;
  padding: 0.5rem 5.5rem;
  margin-left: 1.5rem;
  margin-right: 3rem;
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

button a{
  color: white;
}

/*articles*/
.information {
  display: flex;
  padding-top: 2rem;
  padding-left: 1.5rem;
  background-color: #F5F5F5;
}

.main img {
  padding-bottom: 2rem;
  width: 100%;
}

.main {
  width: 60%;
  padding-right: 1.5rem;
  border-right: 0.25px solid #C8C8C8;
}

.main h1{
  font-size: 1.5rem;
  line-height: 1rem;
}
.main p{
  font-size: 0.75rem;
  margin-bottom: 2rem;
  line-height: 1rem;
}

.rest {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.firstart,
.secondart,
.thirdart {
  display: flex;
  align-items: center;
  transition: background-color .5s
}

.firstart:hover,
.secondart:hover,
.thirdart:hover {
  background-color: #B8B8B8;
  transition: background-color .5s;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.75rem;
}

.firstart img,
.secondart img,
.thirdart img {
  height: auto;
  width: 35%;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #6698E2;
  font-weight: bold;
}

.text p{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1rem;
}

.text h2{
  font-size: 1rem;
}

/*articles*/
.courses{
  background-color: #E8E8E8;
  padding-top: 2rem;
}

.courses h1{
  padding-bottom: 2rem;
  margin-bottom: 0rem;
  text-align: center;
}

.list{
  margin: 0rem 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list h2{
  transition: all .1s ease-in-out;
}

.list h2:hover {
  transform: scale(1.01);
}

.art1,
.art2,
.art3,
.art4,
.art5,
.art6 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 33%;
  margin-bottom: 2rem;
}

.art1 img,
.art2 img,
.art3 img,
.art4 img,
.art5 img,
.art6 img{
  height: auto;
  width: 100%;
}

.arttext {
  margin-left: 1rem;
  margin-top: 1rem;
}

.arttext a{
  color: #505050;
}

.arttext h3{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #505050;
}

.arttext p{
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

/* Thesis part*/
.thesis{
  padding: 2rem 0rem;
  background-color: #F5F5F5;
}

.title{
  text-align: center;
}
.remaining{
  margin-left: 1.5rem;
  display: flex;
}

.main h2{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
video{
  width: 100%;
  border: 1px solid #C8C8C8;
}

/*footer*/
footer{
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 1px solid #C8C8C8;
  font-size: 0.75rem;
}

.copy p{
  font-size: 0.75rem;
}
